/** Add css rules here for your application. */

.group-add-icon {
	background-image: url("images/group_add.png")!important;
}

.group-link-icon {
	background-image: url("images/group_link.png")!important;
}

.event-editor-icon {
	background-image: url("images/event.png")!important;
}

.absence-editor-icon {
	background-image: url("images/absence.png")!important;
}